{% extends "layout.html" %}
{% block title %}about{% endblock %}

<div>
    <h2>About</h2>
    <p>SAMonitor is a SA-MP and open.mp server monitor.</p>
    <div class="innerContent">
        <h3>Project</h3>
        <p>SAMonitor is a spiritual successor to SACNR Monitor. It is free and open source. All code and documentation is in <a target="_blank" href="https://github.com/markski1/SAMonitor">GitHub</a>.</p>

        <p>SAMonitor's mission:</p>
        <ul>
            <li>Monitor every SA-MP and open.mp server.</li>
            <li>Maintain a free and open web interface (you are here) for people to access the data.</li>
            <li>Maintain a free and open API for developers to use the data.</li>
            <li>Offer the highest quality listings: Don't have repeated servers, don't fill the masterlist with trash.</li>
            <li>Blacklist illegitimate servers, be them stolen scripts, malicious or faking data.</li>
        </ul>
    </div>

    <div class="innerContent">
        <h3>Motivation</h3>
        <p>I am deeply fond of the San Andreas Multiplayer community and all it's provided (and allowed me to provide back) during my formative years.</p>
        <p>As such, after the official masterlist ceased operation, I found it under my best interest (and quite likely, that of the community) that the server list of the future must be:</p>
        <ul>
            <li>High quality: I don't want the server list to be full of repeated servers, or servers with false statistics.</li>
            <li>Fair: A server list should not be a moneycow. SAMonitor is free, forever, and does not take payments for "advantages".</li>
            <li>Unbiased: A server list should be focused on San Andreas Multiplayer itself, not taking firm sides on either being official (sa-mp) or alternative (open.mp).</li>
            <li>Transparent: The code for SAMonitor is entirely free and open source. If I ever turn corrupt, you can take the code and build it for yourself.</li>
        </ul>
    </div>

    <div class="innerContent">
        <h3>Functionality</h3>
        <p>SAMonitor's listings only include servers which are online.</p>
        <p>A server is considered offline if they replied to queries in the last 6 hours, and if they're not password protected. Servers who don't meet this are not listed, but continue to be tracked, and become listed when they do.</p>
        <p>Every server is queried every 20 minutes (3 times per hour). Each query updates its information and saves the player counts for posterity.</p>
        <p>SAMonitor keeps track of a bunch of statistics. Check them out in the <a href="statistics" hx-get="statistics" hx-push-url="true" hx-target="#main">metrics</a> page.</p>
    </div>


    <div class="innerContent">
        <h3>Contact</h3>
        <p>Email: me@markski.ar<br/>Discord: markski.ar (yes, that's a username)<br/>Telegram: @Markski</p>
    </div>

    <div class="innerContent">
        <h3>Third party attributions</h3>
        <p>HTMX by Carson Gross is used for the website's presentation. <a target="_blank" href="https://htmx.org">htmx.org</a></p>
        <p>SAMPQuery by JustMavi is used for querying on the API. <a target="_blank" href="https://github.com/justmavi/sampquery/">github.com/justmavi/sampquery</a></p>
        <p>Chart.Js, by multiple people, is used for drawing the website's graphs. <a target="_blank" href="https://www.chartjs.org/">chartjs.org</a></p>
    </div>
</div>

<script>
    document.title = "SAMonitor - about";
    window.scrollTo(0, 0);
</script>