{% extends "layout.html" %}
{% block title %}Add server{% endblock %}
{% block description %}Here you can add your SA-MP or OMP server to SAMonitor.{% endblock %}

{% block main %}
    <div>
        <h2>Add server</h2>
        <p>SAMonitor is an open server list, and as such, anyone can add a server.</p>
        <div class="innerContent">
            <h3>Add server directly</h3>
            <p>If you're blocking the range containing gateway.markski.ar (45.153.48.229), this won't work.</p>
            <hr>
                <form hx-target="#result" hx-post="../actions/add">
                    <label>
                        IP Address or domain:<br />
                        <input required type="text" name="ip_addr" style="width: 20rem" placeholder="address:port format please.">
                    </label> <input type="submit" value="Add server" hx-indicator="#add-indicator"> <img style="width: 2rem; vertical-align: middle" src="{{ url_for('static', filename='loading.svg') }}" id="add-indicator" class="htmx-indicator" alt="Loading indicator.">
                    <div id="result" style="margin-top: .5rem">Result: Waiting for submit...</div>
                </form>
            <hr>
            <p>If you change your IP in the future just submit it again, old ones are removed automatically.</p>
            <p>We will fetch all information automatically.</p>
        </div>

        <div class="innerContent">
            <h3>Announce filterscript</h3>
            <p>If preferred, you can use our filterscript to automatically ensure your server is always in SAMonitor, even if your IP changes.</p>
            <p>Source code and compiled amx are available in <a target="_blank" href="https://github.com/markski1/SAMonitor/tree/main/Announce">the Announce folder of the repository</a>.</p>
        </div>
    </div>
{% endblock %}