<!DOCTYPE html>
    <html lang="en">
        <head>
            <title>SAMonitor - {% block title %}{% endblock %}</title>
            <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='logo256.webp') }}">
            <meta property="og:image" content="https://sam.markski.ar/assets/logo256.webp" />
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta charset="utf-8">
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
            <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}" />
            <meta name="title" content="SAMonitor - {% block title %}{% endblock %}">
            <meta name="description" content="{% block description %}{% endblock %}">
            <meta name="keywords" content="SA-MP, SAMP, open.mp, openmp, omp, SACNR, Monitor, GTA, Multiplayer">

            <meta name="og:title" content="SAMonitor - <?=$title?>">
            <meta property="og:description" content="<?=$showDescription?>">

            <script src="{{ url_for('static', filename='chart.js') }}"></script>
            <script defer src="{{ url_for('static', filename='htmx.min.js') }}"></script>
        </head>
        <body>
            <header>
                <div class="headerContents">
                    <div>
                        <h1>SAMonitor</h1>
                    </div>
                    <div>
                        <a href="../" hx-get="../" hx-push-url="true" hx-target="#main" hx-indicator="#main" >servers</a> <span class="separator">&nbsp;/&nbsp;</span>
                        <a href="../about" hx-get="../about" hx-push-url="true" hx-target="#main" hx-indicator="#main">about</a> <span class="separator">&nbsp;/&nbsp;</span>
                        <a href="../masterlist" hx-get="../masterlist" hx-push-url="true" hx-target="#main" hx-indicator="#main">masterlist</a> <span class="separator">&nbsp;/&nbsp;</span>
                        <a href="../statistics" hx-get="../statistics" hx-push-url="true" hx-target="#main" hx-indicator="#main">statistics</a> <span class="separator">&nbsp;/&nbsp;</span>
                        <a href="../add" hx-get="../add" hx-push-url="true" hx-target="#main" hx-indicator="#main">add server</a>
                    </div>
                </div>
            </header>
            <main id="main" class="opacity-trans">
                {% block main %} {% endblock %}
            </main>
        </body>
    </html>


    <script>
        var lastUsedCopyButton;

        function CopyAddress(ipID, buttonID) {
            var copyText = document.getElementById(ipID);
            navigator.clipboard.writeText(copyText.innerText);
            lastUsedCopyButton = document.getElementById(buttonID)
            lastUsedCopyButton.innerHTML = "IP Copied!";
            setTimeout(function () {
                lastUsedCopyButton.innerHTML = "Copy IP";
            }, 3000);
        }
    </script>