{% extends "layout.html" %}
{% block title %}{{ server_name }}{% endblock %}
{% block description %}Information about the server {{ server_name }} in SAMonitor.{% endblock %}

{% block main %}
    <div>
        <h2>Server information</h2>
        {% if failure %}
            <p>Sorry, there was an error loading this server's information. It may not be in SAMonitor.</p>
        {% else %}
            <p>{{ server_name }}</p>
            <div style="display: flex; flex-wrap: wrap; justify-content: start; gap: 1.5rem">
                <div class="innerContent flexBox">
                    <h3>Details</h3>
                    <table class="serverDetailsTable">
                        <tr>
                            <td><b>Players</b></td><td>{{ server['playersOnline'] }} / {{ server['maxPlayers'] }}</td>
                        </tr>
                        <tr>
                            <td><b>Gamemode</b></td><td>{{ server['gameMode'] }}</td>
                        </tr>
                        <tr>
                            <td><b>Language</b></td><td>{{ server['language'] }}</td>
                        </tr>
                        <tr>
                            <td><b>Map</b></td><td>{{ server['mapName'] }}</td>
                        </tr>
                        <tr>
                            <td><b>Lag compensation</b></td><td>{{ lag_comp }}</td>
                        </tr>
                        <tr>
                            <td><b>Website</b></td><td>{{ website|safe }}</td>
                        </tr>
                        <tr>
                            <td><b>Server software</b></td><td>{{ server_software }}</td>
                        </tr>
                        <tr>
                            <td><b>Version</b></td><td>{{ server['version'] }}</td>
                        </tr>
                        <tr>
                            <td><b>SAMPCAC</b></td><td>{{ server['sampCac'] }}</td>
                        </tr>
                        <tr>
                            <td><b>Checked</b></td><td>{{ last_updated }}</td>
                        </tr>
                    </table>
                    <p>
                        Uptime during the last week: {{ uptime }}%<br/>
                        Average players during last week: {{ avg_players }}<br/>
                        <small>Based on measurements every 20 minutes.</small>
                    </p>
                    <div style="margin-top: 1.5rem">
                        <div style="float: left; margin-top: 0">
                            <p class="ipAddr" id="ipAddr{{ server['id'] }}">{{ server['ipAddr'] }}</p>
                        </div>
                        <div style="text-align: right; float: right; margin-top: 0">
                            <a href="samp://{{ server['ipAddr'] }}"><button>Connect</button></a><button class="connectButton" id="copyButton{{ server['id'] }}" onclick="CopyAddress('ipAddr{{ server['id'] }}', 'copyButton{{ server['id'] }}')">Copy IP</button>
                        </div>
                    </div>
                </div>
                <div class="innerContent flexBox">
                    <h3>Player activity |
                        <select hx-target="#graph-cnt" name="hours" hx-get="../components/graph/{{ server['ipAddr'] }}">
                            <option value=24>Last 24 hours</option>
                            <option value=72>Last 72 hours</option>
                            <option value=168>Last week</option>
                        </select>
                    </h3>
                    <div style='width: 100% !important' id="graph-cnt" hx-get="../components/graph/{{ server['ipAddr'] }}" hx-trigger="load">
                    </div>
                    <p>
                        <small>
                            Times are UTC 0.
                        </small>
                    </p>
                </div>
                <div class="innerContent flexBox">
                    <h3>Player list</h3>
                    <div hx-get="../components/player-list/{{ server['ipAddr'] }}/{{ server['playersOnline'] }}" hx-trigger="load">
                        <p>Loading player list...</p>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}