<canvas id='globalPlayersChart' style='width: 60rem; max-width: 100%'></canvas>

<p>The highest count was <span style='color: green'>{{ highest }}</span> at {{ highest_time }} and the lowest was <span style='color: red'>{{ lowest }}</span> at {{ lowest_time }}</p>

<script>
    new Chart(document.getElementById('globalPlayersChart'),
    {
        type: 'line',
        options: {
            scales: {
                y: {
                    min: {{ minimum }}
                }
            }
        },
        data: {
            labels: [{{ time_set|safe }}],
            datasets: [
                {
                    label: '{{ dataset_name }}',
                    data: [{{ data_set }}],
                    borderWidth: 1
                }
            ]
        }
    })
</script>
