{% if detailed %}
<div hx-swap="outerHTML" hx-target="this" class="server">
{% else %}
<div hx-swap="outerHTML" hx-target="this" hx-get="./components/server/detailed/{{ server['ipAddr'] }}" class="server server_clickable">
{% endif %}
     <div style="float: left;">
        <span style="color: #A0C0F0; font-weight: 700; font-size: 1.1rem">{{ name }}</span><br>
    </div>
    <div style="text-align: right; float: right;">
        <span style="font-size: 1.1rem; font-weight: 700;">{{ server['playersOnline'] }} / {{ server['maxPlayers'] }}</span><br>
    </div>
    <div style="clear: both;"></div>
    <div style="float: left;">
        <p><span class="ipAddr" id="ipAddr{{ server['id'] }}">{{ server['ipAddr'] }}</span></p>
    </div>
    <div style="text-align: right; float: right;">
        <span><b>Lang:</b> {{ server['language'] }}</span>
    </div>
    {% if detailed %}
        <div style="margin-bottom: 0.75rem;">
            <table class="serverDetailsTable">
                <tr>
                    <td><b>Gamemode</b></td><td>{{ server['gameMode'] }}</td>
                </tr>
                <tr>
                    <td><b>Website</b></td><td>{{ website|safe }}</td>
                </tr>
                <tr>
                    <td><b>Lag compensation</b></td><td>{{ lag_comp }}</td>
                </tr>
                <tr>
                    <td><b>Version</b></td><td>{{ server['version'] }}</td>
                </tr>
                <tr>
                    <td><b>SAMPCAC</b></td><td>{{ server['sampCac'] }}</td>
                </tr>
                <tr>
                    <td><b>Checked</b></td><td>{{ last_updated }}</td>
                </tr>
            </table>
            <a style="text-decoration: none; user-select: none;" href="../server/{{ server['ipAddr'] }}" hx-get="../server/{{ server['ipAddr'] }}" hx-push-url="true" hx-target="#main" hx-swap="innerHTML" hx-indicator="#main">
                <button style="margin-top: 1rem;">All information</button>
            </a>
            <button class="connectButton" id="copyButton{{ server['id'] }}" onclick="CopyAddress('ipAddr{{ server['id'] }}', 'copyButton{{ server['id'] }}')">Copy IP</button>
            <button hx-get="./components/server/basic/{{ server['ipAddr'] }}">Close</button>
        </div>
    {% endif %}
    <div style="clear: both"></div>
</div>