<div class="innerContent">
    <form hx-target="#graph-cnt" hx-get="../stats/graph" hx-trigger="change">
        <h3>Global Activity -
            <select name="dataType" style="width: 6rem">
                <option value=0>players</option>
                <option value=1>servers</option>
            </select>
            in the
            <select name="hours">
                <option value=24>last 24 hours</option>
                <option value=72>last 72 hours</option>
                <option value=168>last week</option>
            </select>
        </h3>
    </form>
    <div id="graph-cnt" style="max-width: 100% !important" hx-get="../stats/graph" hx-trigger="load">
    </div>
    <div style="margin-top: 1rem" hx-target="this">
        <input type="button" value="Show last week's stats in a table." hx-get="./stats/table">
    </div>
    <p>
        <small>
            Times are UTC 0.
        </small>
    </p>
</div>
<div class="innerContent">
    <h3>Miscellaneous stats</h3>
    <p>Amount of servers by language</p>
    <table style="width: 100%" id="language_table">
        <thead>
            <th>Language</th> <th>Servers</th> <th>Players</th>
        </thead>
        <tbody>
        <tr>  <td>Russian</td> <td>{{ lang_stats['russian']['amount'] }}</td> <td>{{ "{:,}".format(lang_stats['russian']['players']) }}</td> </tr>
        <tr>  <td>English</td> <td>{{ lang_stats['english']['amount'] }}</td> <td>{{ "{:,}".format(lang_stats['english']['players']) }}</td> </tr>
        <tr>  <td>Spanish</td> <td>{{ lang_stats['spanish']['amount'] }}</td> <td>{{ "{:,}".format(lang_stats['spanish']['players']) }}</td> </tr>
        <tr>  <td>Portuguese</td> <td>{{ lang_stats['portuguese']['amount'] }}</td> <td>{{ "{:,}".format(lang_stats['portuguese']['players']) }}</td> </tr>
        <tr>  <td>Romanian</td> <td>{{ lang_stats['romanian']['amount'] }}</td> <td>{{ "{:,}".format(lang_stats['romanian']['players']) }}</td> </tr>
        <tr>  <td>Misc. East Europe</td> <td>{{ lang_stats['eastEuro']['amount'] }}</td> <td>{{ "{:,}".format(lang_stats['eastEuro']['players']) }}</td> </tr>
        <tr>  <td>Misc. West Europe</td> <td>{{ lang_stats['westEuro']['amount'] }}</td> <td>{{ "{:,}".format(lang_stats['westEuro']['players']) }}</td> </tr>
        <tr>  <td>Misc. Asia</td> <td>{{ lang_stats['asia']['amount'] }}</td> <td>{{ "{:,}".format(lang_stats['asia']['players']) }}</td> </tr>
        </tbody>
    </table>
    <p><small>The other {{ lang_stats['other']['amount'] }} servers don't have a defined language.</small></p>
    <p>Amount of servers by gamemode</p>
    <table style="width: 100%" id="gamemode_table">
        <thead>
        <th>Gamemode</th> <th>Servers</th> <th>Players</th>
        </thead>
        <tbody>
        <tr>  <td>Roleplay</td> <td>{{ gm_stats['roleplay']['amount'] }}</td> <td>{{ "{:,}".format(gm_stats['roleplay']['players']) }}</td> </tr>
        <tr>  <td>Deathmatch</td> <td>{{ gm_stats['deathmatch']['amount'] }}</td> <td>{{ "{:,}".format(gm_stats['deathmatch']['players']) }}</td> </tr>
        <tr>  <td>Race/Stunt/Drift</td> <td>{{ gm_stats['raceStunt']['amount'] }}</td> <td>{{ "{:,}".format(gm_stats['raceStunt']['players']) }}</td> </tr>
        <tr>  <td>Cops and Robbers</td> <td>{{ gm_stats['cnr']['amount'] }}</td> <td>{{ "{:,}".format(gm_stats['cnr']['players']) }}</td> </tr>
        <tr>  <td>Freeroam</td> <td>{{ gm_stats['freeRoam']['amount'] }}</td> <td>{{ "{:,}".format(gm_stats['freeRoam']['players']) }}</td> </tr>
        <tr>  <td>Survival</td> <td>{{ gm_stats['survival']['amount'] }}</td> <td>{{ "{:,}".format(gm_stats['survival']['players']) }}</td> </tr>
        <tr>  <td>Vehicle Simulation</td> <td>{{ gm_stats['vehSim']['amount'] }}</td> <td>{{ "{:,}".format(gm_stats['vehSim']['players']) }}</td> </tr>
        </tbody>
    </table>
    <p><small>The other {{ gm_stats['other']['amount'] }} servers don't have a defined gamemode.</small></p>
    <p style="margin-top: 1rem">
        There seems to be a practice to use the 'Language' or 'Gamemode' fields for the name of the server rather than what they actually are. Server owners, please, this makes it harder for people to find your server.
    </p>
</div>

<script>
    // order the tables
    tables = [];

    tables[0] = document.getElementById("language_table");
    tables[1] = document.getElementById("gamemode_table");

    tables.forEach((table) => {
        const rows = Array.from(table.querySelectorAll("tr"));
        rows.sort((rowA, rowB) => {
            const cellA = rowA.cells[1].textContent;
            const cellB = rowB.cells[1].textContent;

            return Number(cellB) - Number(cellA);
        });

        const tbody = table.querySelector("tbody");
        rows.forEach((row) => {
            tbody.appendChild(row);
        });
    })
</script>