/* Colors */
/*
:root {
    --background: #090f10;
    --text: #e8f0f2;
    --primary: #a4c2cb;
    --secondary: #1c2c31;
    --accent: #6d9dab;
}
*/

:root {
    --background: #070913;
    --text: #ffffff;
    --primary: #a2a8dd;
    --secondary: #151838;
    --secondary-darker: #0e1024;
    --accent: #5762c1;
}

/* Main layout */

body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: var(--background);
    color: var(--text);
    font-size: 16px;
}

header {
    width: 100%;
	margin: 0 auto;
}

main {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    justify-self: center;
    flex-wrap: wrap;
    gap: 2rem;
}

main :first-child {
    margin-top: 0
}

header, header div {
    text-align: center;
	gap: .5rem
}

header h1 {
    font-size: 2rem;
}

header a {
    font-size: 1.25rem;
    text-decoration-line: none;
    margin-top: 1rem;
}

header .separators {
    display: inline;
}

@media (min-width: 900px) {
    body {
		display: grid;
		grid-template-columns: 15rem auto;
        gap: 2rem;
	}

    header, header div {
        display: flex;
        flex-wrap: wrap;
		flex-direction: column;
		justify-content: right;
		text-align: right;
        margin-top: 2rem;
	}

    .separator {
        display: none;
    }

    header {
        width: 12rem;
        margin: 0 2rem;
		justify-self: left;
    }

    header a {
        margin-top: .33rem;
    }

    main {
        justify-self: left;
        justify-content: left;
		margin: 3rem 0 0;
	}

    .flexBox {
        max-width: 35rem !important; 
    }
}

/* Global elements */

button {
    padding: .6rem 1.2rem;
    border: 1px solid black;
    border-radius: 8px;
    margin-right: 1rem;
    background-color: var(--primary);
    border: 2px solid var(--primary);
}

button.connectButton {
    background-color: var(--accent);
    border: 2px solid var(--accent);
}

button:hover {
    border: 2px solid white;
}

button:active {
    background-color: white;
}

td, th {
    border: 1px solid gray;
}

.serverDetailsTable {
    width: 100%;
    font-weight: 400;
    text-align: left;
}

.serverDetailsTable td {
    background-color: var(--background);
    border: 1px solid var(--primary);
    margin: 0;
    padding-left: 5px;
}

a {
    color: white;
}

a:hover {
    text-decoration: underline;
}

input {
    padding: .5rem;
    border-radius: 8px;
    margin: .25rem;
}

input[type=checkbox], input[type=radio] {
    width: 1.75rem;
    height: 1.25rem;
    margin-top: 8px;
}

label {
    vertical-align: middle;
}

ul {
    margin: 0.25rem;
    line-height: 1.75rem;
}

h2 {
    margin: 0;
    font-weight: 400;
    font-size: 1.5rem;
}

fieldset {
    border: 1px solid var(--primary);
}

/* Containers */

.pageContent {
    width: 100%;
    max-width: 35rem;
}

.server {
    background-color: var(--secondary);
    margin: auto;
    margin-bottom: 1.25rem;
    padding: .66rem;
    border: 0;
    border-radius: 12px;
    box-shadow: #6d9dab55 3px 3px;
}

.server div {
    margin-top: 1rem;
}

.filterBox {
    max-width: 32rem;
    min-width: 20rem;
    margin: 0;
    margin-bottom: 1rem;
    background-color: var(--secondary-darker);
    border: 1px solid var(--secondary);
    padding: .75rem;
    border-radius: 12px;
    max-height: 25.5rem;
    position: sticky;
}

.filterBox table {
    width: 100%;
}

.filterBox td {
    border: 0;
}

.innerContent {
    background-color: var(--secondary-darker);
    border: 1px solid var(--secondary);
    border-radius: 6px;
    padding: .8rem;
    width: 95%;
    margin-top: 1rem;
}

.flexBox {
    margin: 0;
    max-width: 100rem;
    flex: 1;
    flex-basis: 48%;
}

@media (max-width: 1300px) {
    .server, .filterBox {
        width: 90%;
        min-width: 0;
        position: relative;
    }
    .filterBox{
        margin-left: 1rem;
    }
}

/* Text styles */

.ipAddr {
    font-size: 1.1rem;
    margin: unset;
    margin: 0.5rem 0.33rem 0 !important;
    color: rgb(183, 203, 209);
}

.gameMode {
    font-size: 1.5rem;
    font-weight: 400;
}

.serverInfo {
    margin: 0.2rem;
    line-height: 1.5rem;
}

.serverInfo td {
    border: 0;
}