:root {
    --background: #050c1a;
    --text: #fbfcfe;
    --primary: #4e81df;
    --secondary: #08142b;
    --accent: #2865d7;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: var(--background);
    color: var(--text);
    font-size: 16px;
}

header {
    width: 100%;
	margin: 0 auto;
}

main {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    justify-self: center;
    flex-wrap: wrap;
    gap: 2rem;
}

main :first-child {
    margin-top: 0
}

header, header div {
    text-align: center;
	gap: .5rem
}

header h1 {
    font-size: 2rem;
}

header a {
    font-size: 1.2rem;
    text-decoration-line: none;
    margin-top: 1rem;
}

header .separators {
    display: inline;
}

a {
    color: white;
}

@media (min-width: 900px) {
    body {
		display: grid;
		grid-template-columns: 15rem auto;
        gap: 2rem;
	}

    header, header div {
        display: flex;
        flex-wrap: wrap;
		flex-direction: column;
		justify-content: right;
		text-align: right;
        margin-top: 3rem;
	}

    .separator {
        display: none;
    }

    header {
        width: 12rem;
        margin: 0 2rem;
		justify-self: left;
    }

    header a {
        margin-top: .33rem;
    }

    main {
        justify-self: left;
        justify-content: left;
		margin: 5rem 0 0;
	}
}

@media (max-width: 1150px) {
    .server, .filterBox {
        width: 90%;
        min-width: 0;
        position: relative;
        margin: auto;
    }
}

a:hover {
    text-decoration: underline;
}

input {
    padding: .5rem;
    border-radius: 8px;
    margin: .25rem;
}

ul {
    margin: 0.25rem;
}

h2 {
    margin: 0;
    font-weight: 400;
    font-size: 1.5rem;
}

fieldset {
    border: 1px solid var(--primary);
}

.pageContent {
    width: 100%;
    max-width: 35rem;
}

.server {
    max-width: 32rem;
    background-color: var(--secondary);
    margin: auto;
    margin-bottom: .75rem;
    padding: .66rem;
    border: 1px solid var(--accent);
    border-radius: 12px;
}

.server div {
    margin-top: 1rem;
}

.filterBox {
    margin: auto;
    max-width: 32rem;
    min-width: 20rem;
    margin: 0;
    margin-bottom: 1rem;
    background-color: #101010;
    padding: .66rem;
    border-radius: 12px;
    border: 1px solid #202020;
    max-height: 22rem;
    position: sticky;
}

button {
    padding: .6rem 1.2rem;
    border: 1px solid black;
    border-radius: 8px;
    margin-right: 1.5rem;
    background-color: var(--accent);
    border: 2px solid var(--accent);
    color: white;
}

button.connectButton {
    background-color: var(--primary);
    border: 2px solid var(--primary);
}

button:hover {
    border: 2px solid white;
}

button:active {
    background-color: black;
}