/* Main layout */

body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: #1F1F1F;
    color: #E3E3E3;
    font-size: 16px;
}

header {
    width: 100%;
	margin: 0 auto;
}

main {
    margin-top: 2rem;
    width: 100%;
    max-width: 75rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    justify-self: center;
    flex-wrap: wrap;
    gap: 2rem;
}

main :first-child {
    margin-top: 0
}

header, header div {
    text-align: center;
	gap: .5rem
}

header h1 {
    font-size: 2rem;
}

header a {
    font-size: 1.25rem;
    text-decoration-line: none;
    margin-top: 1rem;
}

header .separators {
    display: inline;
}

@media (min-width: 900px) {
    body {
		display: grid;
		grid-template-columns: 15rem auto;
        gap: 2rem;
	}

    header, header div {
        display: flex;
        flex-wrap: wrap;
		flex-direction: column;
		justify-content: right;
		text-align: right;
        margin-top: 2rem;
	}

    .separator {
        display: none;
    }

    header {
        width: 12rem;
        margin: 0 2rem;
		justify-self: left;
    }

    header a {
        margin-top: .33rem;
    }

    main {
        justify-self: left;
        justify-content: left;
		margin: 3rem 0 0;
	}

    .headerContents {
        position: fixed;
        top: -30px;
        left: 70px;
    }

    .flexBox {
        max-width: 35rem !important; 
    }
}

/* Global elements */

button {
    padding: .8rem 1.33rem;
    border: 1px solid black;
    border-radius: 8px;
    margin-right: 1rem;
    cursor: pointer;
    background-color: #A8C7FA;
    border: 0;
}

button[disabled] {
    cursor: not-allowed;
}

button:hover {
    background-color: white;
    color: black;
}

button:active {
    background-color: #062E6F;
    color: #A8C7FA;
}

td, th {
    border: 1px solid gray;
}

.serverDetailsTable {
    width: 100%;
    font-weight: 400;
    text-align: left;
}

.serverDetailsTable td {
    background-color: #1F1F1F;
    border: 1px solid #A8C7FA;
    margin: 0;
    padding-left: 5px;
}

a {
    color: white;
}

a:hover {
    text-decoration: underline;
}

input {
    padding: .5rem;
    border-radius: 8px;
    margin: .25rem;
}

input[type=checkbox], input[type=radio] {
    width: 1.75rem;
    height: 1.25rem;
    margin-top: 8px;
}

label {
    vertical-align: middle;
}

ul {
    margin: 0.25rem;
    line-height: 1.75rem;
}

h2 {
    margin: 0;
    font-weight: 400;
    font-size: 1.5rem;
}

fieldset {
    border-radius: 12px;
    border: 1px solid #1F1F1F;
    background-color: #252525;
}

/* Containers */

.pageContent {
    width: 100%;
    max-width: 35rem;
}

.server {
    max-width: 34rem;
    background-color: #28292A;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 8px;
    margin: 0;
    margin-bottom: 1.25rem;
    padding: .66rem;
    border: 0;
    border-radius: 18px;
}

.server div {
    margin-top: 1rem;
}

.filterBox {
    max-width: 34rem;
    min-width: 20rem;
    margin: 0;
    margin-bottom: 1rem;
    background-color: #2D2F31;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: .75rem;
    border-radius: 12px;
    
    position: fixed;
    top: 3.5rem;
    left: 55rem;
}

.filterBox table {
    width: 100%;
}

.filterBox td {
    border: 0;
}

.innerContent {
    background-color: #2D2F31;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 6px;
    padding: .8rem;
    width: 95%;
    margin-top: 1rem;
}

.flexBox {
    margin: 0;
    max-width: 100rem;
    flex: 1;
    flex-basis: 48%;
}

@media (max-width: 1300px) {
    .server, .filterBox {
        min-width: 0;
        position: relative;
    }
    .filterBox{
        width: 100%;
        top: 0;
        left: 0;
    }
}

/* Text styles */

.ipAddr {
    font-size: 1.1rem;
    margin: unset;
    margin: 0.5rem 0.33rem 0 !important;
    color: rgb(183, 203, 209);
}

.gameMode {
    font-size: 1.5rem;
    font-weight: 400;
}

.serverInfo {
    margin: 0.2rem;
    line-height: 1.5rem;
}

.serverInfo td {
    border: 0;
}